<title>Contact Me</title>
<div class="padding-top">
    
    <p>contact</p>
    

        <%= link_to facebook_path, :target => "_blank" do %>
<h1 class="white"> Facebook</h1>
        <% end %>


</div>
