.centerDiv { 
    width: 800px; 
    height:200px; 
    margin: auto; 
    padding-top: 120px;
    padding-left: 40px;
    position: relative;
    min-width: 1000px;
    
}

.nav-bar {
    position: relative;
    display: inline-block;
    min-width: 800px;
}

.center {
    margin: auto;
    
}

.center-icon {
    margin: auto;
    width: 70%;

}


.home-icon {
    padding-top: 13px;
    font-size: 2em;
    
}

.segment-size {
    width: 250px;
}

.background-clor1 {
  background-color:#3671b3;
}

.background-clor2 {
  background-color:#4b7096;
}

.background-clor3 {
  background-color:#b9d5f0;
}

.background-clor4 {
  background-color:#367cb3;
}

.background-clor5 {
  background-color:#29aae3;
}
.image-border {
   padding:1px;
   border:1px solid #FFFFFF;

}
.center-image {
    padding-left: 20px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color:white;
}
.padding-bottom{
        padding-top: 50px;
}

.padding-top{
        margin-top: 50px;
}
#rectangle{
    width:250px;
    height:141px;
    background:#FFFFFF;
    padding:1px;
    border:10px solid #29aae3;
    //border-radius: 25px;
}

#circle {
	width: 70px;
	height: 70px;
	background: #29aae3;
	//-moz-border-radius: 50px;
	//-webkit-border-radius: 50px;
	border-radius: 30px; //60 oringally for circle
	margin-left:80px;
	margin-top:15px;
}

#icon-centered {
    text-align:center;
    padding-top:23px;
}

#icon-r11ight {
    margin-left: 50px;

}

.increase-size {
    font-size: 1.5em;
    margin-left: 12px;
}

.white {
    font-family:Verdana, Geneva, sans-serif;
    font-size: 1.3em;
    color:#29aae3;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
}
.white-title {
    font-family:Verdana, Geneva, sans-serif;
    font-size: 2.3em;
    color:#FFFFFF;
    font-weight: bold;
    text-align: center;
    position:relative;
    text-align: center;
    
}
