
.nav-bar {
    position: relative;
    display: inline-block;
    min-width: 800px;
}

.center {
    margin: auto;
    
}

.center-text {
    position:relative;
    text-align: center;
    
}

.home-icon {
    padding-top: 13px;
    font-size: 2em;
    
}